---
title: Mickael Taguet Tattoo contact
---

<div class="container">
	<div class="row text">
		<div class="col-xs-12 col-sm-6">
			<form id="contact" method="post" action="traitement_formulaire.php">
				<div class="form-group">
					<input class="form-control" type="text" id="nom" name="nom" tabindex="1" placeholder="Nom"/>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" id="email" name="email" tabindex="2" placeholder="email"/>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" id="objet" name="objet" tabindex="3" placeholder="Objet"/>
				</div>
				<div class="form-group">
					<textarea class="form-control" id="message" name="message" tabindex="4" rows="10" placeholder="Message"></textarea>
				</div>
			 <div class="form-group">
				<button type="submit" name="envoi" class="btn btn-primary" />Submit</button>
			</div>
			</form>

		</div>
		<div class="col-xs-12 col-sm-6">
			<img src="http://placehold.it/600x400" alt="">
		</div>	
	</div>
</div>